---
apiVersion: operator.openshift.io/v1alpha1
kind: CertManager
metadata:
  name: cluster
spec:
  controllerConfig:
    overrideArgs:
      - --dns01-recursive-nameservers-only
      - --dns01-recursive-nameservers={{ configuration.certmanager.dns01_nameservers | default('8.8.8.8:53,1.1.1.1:53') }}
