---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlab-postgres-data
  namespace: gitlab-system
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ configuration.gitlab.postgres.storage_size }}
  storageClassName: {{ configuration.gitlab.postgres.storage_class }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitlab-postgres
  namespace: gitlab-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitlab-postgres
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: gitlab-postgres
    spec:
      containers:
        - name: postgresql
          image: {{ configuration.gitlab.postgres.image }}:{{ configuration.gitlab.postgres.image_tag }}
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRESQL_USER
              value: {{ configuration.gitlab.psql.username }}
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ configuration.gitlab.psql.secret }}
                  key: {{ configuration.gitlab.psql.secret_key }}
            - name: POSTGRESQL_DATABASE
              value: {{ configuration.gitlab.psql.database }}
            - name: POSTGRESQL_MAX_CONNECTIONS
              value: "200"
            - name: POSTGRESQL_SHARED_BUFFERS
              value: 256MB
            - name: POSTGRESQL_EXTRA_FLAGS
              value: -c max_locks_per_transaction=256
          volumeMounts:
            - name: data
              mountPath: /var/lib/pgsql/data
          livenessProbe:
            exec:
              command:
                - /usr/libexec/check-container
                - --live
            initialDelaySeconds: 120
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - /usr/libexec/check-container
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: gitlab-postgres-data
---
apiVersion: v1
kind: Service
metadata:
  name: {{ configuration.gitlab.psql.host }}
  namespace: gitlab-system
spec:
  selector:
    app: gitlab-postgres
  ports:
    - port: {{ configuration.gitlab.psql.port }}
      targetPort: 5432
