{% set secrets = [
  {"name": "gitlab-object-storage", "vault_key": "gitlab/object-storage", "keys": [{"secret_key": "connection", "property": "connection"}]},
  {"name": "gitlab-backup-object-storage", "vault_key": "gitlab/backup-object-storage", "keys": [{"secret_key": "connection", "property": "connection"}]},
  {"name": "gitlab-registry-storage", "vault_key": "gitlab/registry-storage", "keys": [{"secret_key": "config", "property": "config"}]},
  {"name": "gitlab-postgres-secret", "vault_key": "gitlab/postgres", "dest": configuration.gitlab.psql.secret, "keys": [{"secret_key": configuration.gitlab.psql.secret_key, "property": "password"}]},
  {"name": "gitlab-redis-secret", "vault_key": "gitlab/redis", "dest": configuration.gitlab.redis.secret, "keys": [{"secret_key": configuration.gitlab.redis.secret_key, "property": "default"}]}
] %}
{% for s in secrets %}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ s.name }}
  namespace: gitlab-system
spec:
  refreshInterval: 30s
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: {{ s.dest | default(s.name) }}
    creationPolicy: Owner
  data:
{% for k in s["keys"] %}
    - secretKey: {{ k.secret_key }}
      remoteRef:
        key: {{ s.vault_key }}
        property: {{ k.property }}
{% endfor %}
{% endfor %}
