---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: keycloak-postgres-creds
  namespace: keycloak
spec:
  refreshInterval: 30s
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: keycloak-postgres-creds
    creationPolicy: Owner
  data:
    - secretKey: username
      remoteRef:
        key: keycloak/postgres
        property: username
    - secretKey: password
      remoteRef:
        key: keycloak/postgres
        property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: keycloak-admin-secret
  namespace: keycloak
spec:
  refreshInterval: 30s
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: keycloak-admin-secret
    creationPolicy: Owner
  data:
    - secretKey: username
      remoteRef:
        key: keycloak/admin
        property: username
    - secretKey: password
      remoteRef:
        key: keycloak/admin
        property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: keycloak-openshift-client-secret
  namespace: openshift-config
spec:
  refreshInterval: 30s
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: keycloak-openshift-client-secret
    creationPolicy: Owner
  data:
    - secretKey: clientSecret
      remoteRef:
        key: keycloak/clients/openshift
        property: secret
