---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: netbox-postgres-creds
  namespace: netbox
spec:
  refreshInterval: 30s
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: netbox-postgres-creds
    creationPolicy: Owner
  data:
    - secretKey: username
      remoteRef:
        key: netbox/postgres
        property: username
    - secretKey: password
      remoteRef:
        key: netbox/postgres
        property: password
