options {
    recursion yes;
    dnssec-validation no;
    forwarders {
{%- for fwd in networking.dns_forwarders | default(['8.8.8.8', '8.8.4.4']) %}
        {{ fwd }};
{%- endfor %}
    };
    forward only;
};

zone "{{ cluster.name }}.{{ cluster.base_domain }}" IN {
    type primary;
    file "/var/named/{{ cluster.name }}.{{ cluster.base_domain }}.zone";
};
