options {
    directory "/var/named";
    pid-file none;
    session-keyfile none;

    listen-on port 8053 { any; };
    listen-on-v6 port 8053 { none; };

    recursion yes;
    allow-recursion { any; };
    dnssec-validation no;
    minimal-any yes;
    max-cache-size 128m;

    forwarders {
{%- for fwd in networking.dns_forwarders | default(['8.8.8.8', '8.8.4.4']) %}
        {{ fwd }};
{%- endfor %}
    };
    forward only;
};

controls { };

zone "{{ cluster.name }}.{{ cluster.base_domain }}" IN {
    type primary;
    file "/var/named/{{ cluster.name }}.{{ cluster.base_domain }}.zone";
};
